@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";
@import "../node_modules/@syncfusion/ej2-treegrid/styles/material.css";

html {
  position: relative;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#root {
  height: 100vh;
  display: grid;
}

footer {
  width: 100%;
  height: 160px; /* Set the fixed height of the footer here */
}

#tree-grid {
  overflow: hidden;
}

#tree-grid .control-section,
#tree-grid .e-treegrid,
#tree-grid .e-treegrid .e-grid,
#tree-grid .e-treegrid .e-gridcontent
{
  height: 100%;
}

#tree-grid .e-treegrid .e-grid {
  display: grid;
}
#tree-grid .e-treegrid .e-content {
  overflow: auto;
  height: 100%!important;
}

/* Override Bootstrap Styling */

.btn-primary {
  background-color: #025fce !important;
}

